{% load static %}


<section class="top-header">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-xs-12 col-sm-4">
                <div class="contact-number">
                    <i class="tf-ion-ios-telephone"></i>
                    <span>+7(916)286-61-86</span>
                </div>
            </div>
            <div class="col-md-4 col-xs-12 col-sm-4">
                <!-- Site Logo -->
                <div class="logo text-center">

                    <a href="{% url 'news:index' %}">
                        <svg width="135px" height="30px" viewBox="0 0 250 40" version="1.1" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink">
                            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" font-size="48"
                                font-family="AustinBold, Austin" font-weight="bold">
                                <g id="Group" transform="translate(-108.000000, -297.000000)" fill="#000000">
                                    <text id="Divan.News">
                                        <tspan x="108.94" y="325">Divan.News</tspan>
                                    </text>
                                </g>
                            </g>
                        </svg>
                    </a>
                </div>
            </div>



                        <div class="col-md-4 col-xs-12 col-sm-4">
                <!-- Правая часть: Login, Поиск, Языки -->
                <ul class="top-menu text-right list-inline">
                    <!-- Кнопка Login (можно сделать выпадающей) -->
                <li class="dropdown login-dropdown dropdown-slide">
  {% if user.is_authenticated %}
    <div class="btn-group">
      <!-- ссылка на профиль -->
      <a href="{% url 'accounts:user_profile' user.username %}"
         class="">
        <i class="tf-ion-person"></i> Profile
      </a>
      <!-- кнопка-тогглер для меню -->
      <ul class="dropdown-menu slide-dropdown">
          <li>
              <a href="{% url 'accounts:user_logout' %}"
         class="">
         Logout
      </a>
          </li>
      </ul>
    </div>
  {% else %}
    <a href="{% url 'accounts:user_login' %}">
      <i class="tf-ion-person"></i> Login
    </a>
  {% endif %}
</li>


                    <!-- Поиск -->
                    <li class="dropdown search dropdown-slide">
                        <a href="#!" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
                            <i class="tf-ion-ios-search-strong"></i> Search
                        </a>
                        <ul class="dropdown-menu search-dropdown">
                            <li>
                                <form action="post">
                                    <input type="search" class="form-control" placeholder="Search...">
                                </form>
                            </li>
                        </ul>
                    </li>


                </ul>
            </div>
        </div>
    </div>
</section>

